/* Major interface panes, aside, article, header, etc. */

*:focus {
    outline: none;
}

body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    /*background: #222;*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
  font-family: "Lato", sans-serif;
  font: 16px sans-serif;
  -webkit-user-select: none;
  color: white;
  overflow: hidden;
  background: #222;
}

button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}

.select-container {
    padding: 0;
    display: inline-block;
}

select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}

input[type="text"],
input[type="number"] {
    cursor: text;
}

input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}

article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}

svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
}

text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}

aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}

aside > * {
    margin-bottom: 20px;
}

.text {
  font-family: sans-serif;
  font-weight: bold;
}

/* END GENERAL */

/* CAMERA STUFF */

.camera {
  padding: 0;
  position: absolute;
  top:0px;
  left:726px;
  width: 640px;
  height: 480px;
  overflow: hidden;
  background-repeat: no-repeat;
}

#camera1 {
  background-image: url('http://raspberrypi:8070/?action=stream');
  background-color: #123; /*blue*/
  visibility:hidden;
}

#camera2 {
  background-image: url('http://raspberrypi:8080/?action=stream');
  background-color: #132; /*green*/
  visibility:hidden;
}

#cameraSelection {
  visibility: hidden;
  position: fixed;
  left:850px;
  top: 250px;
  background-color: #222;
}

/* END CAMERA STUFF */

/* BEGIN ROBOT AND FIELD */

#robot-diagram {
    position: absolute;
    bottom:0;
    left:0;
    background-color:#222;
}

#robot-arm {
    -webkit-transform-origin: right;
}

#miniRobot {
  position:relative;
  visibility: hidden;
  top: 670px;
  z-index:2;
  background-color:"red";
  padding:2px;
  height: 37.798px;
  width: 33.309px;
}

/* END ROBOT AND FIELD */

/* BEGIN UL AND TAB STUFF */

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #64ce74;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #64ce74;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #64ce74;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #64ce74;
    border-top: none;
}

.tablinks {
  pointer-events:none;
}

#tabs {
  visibility:hidden;
  position: absolute;
  top:165px;
  left:20px;
}

#Auto, #Warnings {
  position: fixed;
  top:215px;
  font-size:18px;
  left:20px;
  width:272px;
}

#auto1 {
  visibility: hidden;
  position: fixed;
  top: 120px;
  left: 400px;
  background-color: #333;
}

.secondStepAuto {
  visibility: hidden;
  position: fixed;
  top: 400px;
  left: 400px;
  background-color: #333;
}

#defaultOpen, #nextOpen {
  width:135px;
}

#warningsList {
  visibility:hidden;
}

/* END UL AND TAB */

/* BEGIN FIELD */

#redFieldBig {
  left:310px;
}

#blueFieldBig {
  left:305px;
}

.fieldImageBig {
  position: absolute;
  top:11px;
  padding: 3px;
  visibility:hidden;
  opacity: 1;
}

.fieldImageSmall {
  position: absolute;
  left:346px;
  top:49px;
  padding: 3px;
  visibility:hidden;
  opacity: 0;
}

/* END FIELD */

/* BEGIN CHECKBOXES */

#mode {
  visibility: hidden;
  position: absolute;
  top:500px;
  left:0px;
  padding-left: 35px;
  width: 240px;
  height: 80px;
}

#auto-label, #teleop-label {
  display: none;
  position: absolute;
}

#auto-label {
  display: inline-flex;
  background: #ff3333;
}

#teleop-label {
  top: 28px;
}

#colorSelection {
  visibility: hidden;
  position: fixed;
  top:200px;
  left:405px;
  background: #222;
}

#connected-label, #disconnected-label {
  display: none;
  position: absolute;
}

#state {
  visibility:hidden;
  position: absolute;
  top:80px;
  left:40px;
  width: 240px;
  height: 80px;
}

#robot-state-unknown, #robot-state-connected, #robot-state-disconnected {
  top: 100px;
  left: 100px;
}

#unknown-label {
  display: inline-flex;
}

#robot-state-unknown:checked + #unknown-label {
  position: relative;
  top:25px;
  background: #ffe066;
}

#robot-state-connected:checked + #connected-label {
  position: relative;
  top:-2px;
  background: #64ce74;
}

#robot-state-disconnected:checked + #disconnected-label {
  position: relative;
  top:11px;
  background: #ff3333;
}

.skewed:checked + .skewed.step1, .skewed:checked + .skewed.step2 {
  background: #9900cc;
}

.skewed.robot-state {
    display: none;
    left:50px;
    top:110px;
}

.skewed:checked + .skewed.blueAlliance {
  background: #3366ff;
}

.skewed:checked + .skewed.redAlliance {
  background: #ff3333;
}

.skewed:checked + .skewed.camera {
  background: #ababab;
}

.skewed + .skewed.camera {
  position: relative;
  top:0px;
  left:0px;
}

.skewed {
  display: none;
}

.skewed + .skewed {
  outline: 0;
  display:inline-block;
  width: 13em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;

  overflow: hidden;
  -webkit-transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  font-family: sans-serif;
  background: transparent;
}


.skewed + .skewed:after, .skewed + .skewed:before {
  -webkit-transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.skewed + .skewed:after {
  left: 100%;
  content: attr(data-tg-on);
}

.skewed + .skewed:before {
  left: 0;
  content: attr(data-tg-off);
}

.skewed + .skewed:active {
  background: #222;
}

.skewed + .skewed:active:before {
  left: -10%;
}

.skewed:checked + .skewed {
  background: #64ce74;
}

.skewed:checked + .skewed:before {
  left: -100%;
}

.skewed:checked + .skewed:after {
  left: 0;
}

.skewed:checked + .skewed:active:after {
  left: 10%;
}

/* END CHECKBOXES */

/* BEGIN MISC */

#robot-diagram {
  visibility: hidden;
}

#timer {
  visibility: hidden;
  position: absolute;
  font-family: monospace;
  display: block;
  height: 20vh;
  width: 35vw;
  top: 0;
  left: 25px;
  font-size: 15vh;
  line-height: .8;
}

#climb {
  position: absolute;
  top: 560px;
}

#pneumaticsBox {
  position: absolute;
  top: 600px;
}

#team {
  font-size: 28px;
  letter-spacing: -1px;
}

#logo {
  visibility: hidden;
  height: 140px;
  top: 600px;
  left: 720px;
}

#robo {
  height: 400px;
  top: 180px;
  left: 670px;
  visibility: hidden;
}

#logoBegin {
  height: 80px;
  top: 470px;
  left: 640px;
  visibility: hidden;
}

/* END MISC */

/* BEGIN METERS */

#climbLabel {
  visibility: hidden;
  position: absolute;
  top: 495px;
  left: 980px;
  font-size: 20px;
}

#climbMeter {
  visibility: hidden;
  position: absolute;
  top: 540px;
  left: 845px;
  width: 450px;
}

input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top:3px;
  margin-left:-1px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  width: 450px;
  background-image: url('../images/climbMeter.png');
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
  }

#climbNumber {
  visibility: hidden;
  position: absolute;
  top: 540px;
  left: 775px;
  font-size: 20px;
}

/* END METERS */
