* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"],
input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #222;
}
#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    width: 30vw;
    top: 0;
    left: 45px;
    font-size: 15vh;
    line-height: .8;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}
.camera {
  padding: 0;
  position: absolute;
  top:0;
  right:0;
  width: 45vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 50vw 80vh
}
#camera1 {
  /*background-image: url('http://raspberrypi:8070/?action=stream');*/
  background-color: #123;
  visibility:hidden;
}
#camera2 {
  /*background-image: url('http://raspberrypi:8080/?action=stream');*/
  background-color: #132;
  visibility:hidden;
}
#cameraSelection {
  position: absolute;
  left:850px;
  top: 250px;
  background-color: #333;
}

article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#robot-diagram {
    position: absolute;
    bottom:0;
    left:0;
    background-color:#222;
}
#robot-arm {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}
aside > * {
    margin-bottom: 20px;
}
#robot-state {
    position: fixed;
    left:100px;
    top:110px;
}

body {font-family: "Lato", sans-serif;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#tabs {
  position: absolute;
  top:135px;
  left:20px;
}

#Auto, #Warnings {
  position: fixed;
  top:185px;
  font-family: "Lato", sans-serif;
  font-size:18px;
  left:20px;
  width:272px;
}

#defaultOpen, #nextOpen {
  width:135px;
}

#warningsList {
  visibility:hidden;
}

#colorSelection {
  position: fixed;
  top:250px;
  left:425px;
  background-color:#333;
}

#redField {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fieldImage {
  position: fixed;
  left:320px;
  padding: 3px;
  visibility:hidden;
}

#submitAlliance {
  display:block;
  margin:0 auto;
}
#submitAlliance.active {
  background-color:#222;
}
#hopper1Blue {
  left: 320px;
  top: 100px;
}
#hopper2Blue {
  left: 320px;
  top: 270px;
}
#hopper3Blue {
  left: 320px;
  top: 450px;
}
#hopper4Blue {
  left: 570px;
  top: 160px;
}
#hopper5Blue {
  left: 570px;
  top: 365px;
}

.blueButtons {
  position: absolute;
  visibility: hidden;
  height: 100px;
  width: 100px;
  background-color:#111;
  opacity: 0.01;
}

.blueButtons:hover {
  opacity:0.5;
  background-color:yellow;
}
