* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"],
input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    /*background: #222;*/
}
#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    width: 35vw;
    top: 0;
    left: 25px;
    font-size: 15vh;
    line-height: .8;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}
.camera {
  padding: 0;
  position: absolute;
  top:0;
  left:750px;
  width: 45vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 50vw 80vh
}
#camera1 {
  /*background-image: url('http://raspberrypi:8070/?action=stream');*/
  background-color: #123; /*blue*/
  visibility:hidden;
}
#camera2 {
  /*background-image: url('http://raspberrypi:8080/?action=stream');*/
  background-color: #132; /*green*/
  visibility:hidden;
}
#cameraSelection {
  position: fixed;
  left:850px;
  top: 250px;
  background-color: #222;
}

article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#robot-diagram {
    position: absolute;
    bottom:0;
    left:0;
    background-color:#222;
}
#robot-arm {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}
aside > * {
    margin-bottom: 20px;
}
.skewed.robot-state {
    display: none;
    left:50px;
    top:110px;
}

body {
  font-family: "Lato", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #64ce74;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #64ce74;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #64ce74;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #64ce74;
    border-top: none;
}

#tabs {
  position: absolute;
  top:180px;
  left:20px;
}

#Auto, #Warnings {
  position: fixed;
  top:230px;
  font-size:18px;
  left:20px;
  width:272px;
}

#connected-label, #disconnected-label {
  display: none;
  position: absolute;
}

#timer {
  position: absolute;
}

#unknown-label {
  display: inline-flex;
}

#robot-state-unknown:checked + #unknown-label {
  position: relative;
  top:33px;
  background: #ffe066;
}

#robot-state-connected:checked + #connected-label {
  position: relative;
  top:-2px;
  background: #64ce74;
}

#robot-state-disconnected:checked + #disconnected-label {
  position: relative;
  top:11px;
  background: #ff3333;
}

.skewed:checked + .skewed.blueAlliance {
  background: #3366ff;
}

.skewed:checked + .skewed.redAlliance {
  background: #ff3333;
}

.skewed:checked + .skewed.camera {
  background: #ababab;
}

.skewed + .skewed.camera {
  position: relative;
  top:0px;
  left:0px;
}


#state {
  position: absolute;
  top:80px;
  left:40px;
  width: 240px;
  height: 80px;
}

#defaultOpen, #nextOpen {
  width:135px;
}

#warningsList {
  visibility:hidden;
}

#colorSelection {
  position: fixed;
  top:200px;
  left:425px;
  background-color:#222;
}

#redField {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fieldImage {
  position: fixed;
  left:310px;
  top:10px;
  padding: 3px;
  visibility:hidden;
}

#climb {
  top: 560px;
}
#pneumatics {
  top: 600px;
}

.blueButtons {
  position: absolute;
  visibility: hidden;
  height: 100px;
  width: 100px;
  background-color:#111;
  opacity: 0.01;
}

.blueButtons:hover {
  opacity:0.5;
  background-color:yellow;
}

.robot {
  position: absolute;
  visibility: hidden;
  top: 675px;
  z-index:1;
  background-color:"red";
  padding:5px;
}

#airship1 {
  position: absolute;
  visibility: hidden;
  top: 138px;
  left: 450px;
  z-index: 1;
}

#robot-state-unknown, #robot-state-connected, #robot-state-disconnected {
  top: 100px;
  left: 100px;
}

.text {
  font-family: sans-serif;
  font-weight: bold;
}

.skewed {
  display: none;
}

.skewed + .skewed {
  outline: 0;
  display:inline-flex;
  width: 13em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  overflow: hidden;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  font-family: sans-serif;
  background: #222;
}

.skewed + .skewed:after, .skewed + .skewed:before {
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.skewed + .skewed:after {
  left: 100%;
  content: attr(data-tg-on);
}

.skewed + .skewed:before {
  left: 0;
  content: attr(data-tg-off);
}

.skewed + .skewed:active {
  background: #222;
}

.skewed + .skewed:active:before {
  left: -10%;
}

.skewed:checked + .skewed {
  background: #64ce74;
}

.skewed:checked + .skewed:before {
  left: -100%;
}

.skewed:checked + .skewed:after {
  left: 0;
}

.skewed:checked + .skewed:active:after {
  left: 10%;
}
