/* Add your styles for the miscellaneous motors here */
#misc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#misc-valueBars {
    display: flex;
    flex-direction: column;
    margin-right: 0px; /* Adjust spacing between bars */
}

.misc_motors_valueBarContainer {
    position: relative;
    width: 100px; /* Adjust the width as needed */
    height: 20px;
    margin-bottom: 10px; /* Add spacing between bars */
    background-color: #858585;
    border-radius: 8px;
    overflow: hidden;
}

.misc_motors_valueBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3498db; /* Adjust the background color as needed */
}

.misc_motors_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#misc-image {
    /* Add styles for the miscellaneous motors image */
    min-width: 240px;
    height: 120px;
    margin-right: 0;
    margin-right: 0;
}
