/* Major interface panes, aside, article, header, etc. */

*:focus {
    outline: none;
}

body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    /*background: #222;*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
  font-family: "Lato", sans-serif;
  font: 16px sans-serif;
  -webkit-user-select: none;
  color: white;
  overflow: hidden;
  background: #222;
}

button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}

.select-container {
    padding: 0;
    display: inline-block;
}

select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}

input[type="text"],
input[type="number"] {
    cursor: text;
}

input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}

article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}

svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
}

text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}

aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}

aside > * {
    margin-bottom: 20px;
}

.text {
  font-family: sans-serif;
  font-weight: bold;
}

/* END GENERAL */

/* CAMERA STUFF */

.camera {
  padding: 0;
  position: absolute;
  top:0px;
  left:0px;
  width: 544px;
  height: 408px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 544px 408px;
}

#camera1 {
  background-image: url('http://raspberrypi:8070/?action=stream');
  background-color: #123; /*blue*/
  visibility:hidden;
}

#camera2 {
  background-image: url('http://raspberrypi:8080/?action=stream');
  background-color: #132; /*green*/
  visibility:hidden;
}

#cameraSelection {
  visibility: hidden;
  position: fixed;
  left:180px;
  top: 100px;
  background-color: #222;
}


.skewed:checked + .skewed.step1, .skewed:checked + .skewed.step2 {
  background: #9900cc;
}

.skewed.robot-state {
    display: none;
    left:50px;
    top:110px;
}

.skewed:checked + .skewed.blueAlliance {
  background: #3366ff;
}

.skewed:checked + .skewed.redAlliance {
  background: #ff3333;
}

.skewed:checked + .skewed.camera {
  background: #ababab;
}

.skewed + .skewed.camera {
  position: relative;
  top:0px;
  left:0px;
}

.skewed {
  display: none;
}

.skewed + .skewed {
  outline: 0;
  display:inline-block;
  width: 13em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;

  overflow: hidden;
  -webkit-transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  font-family: sans-serif;
  background: transparent;
}


.skewed + .skewed:after, .skewed + .skewed:before {
  -webkit-transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.skewed + .skewed:after {
  left: 100%;
  content: attr(data-tg-on);
}

.skewed + .skewed:before {
  left: 0;
  content: attr(data-tg-off);
}

.skewed + .skewed:active {
  background: #222;
}

.skewed + .skewed:active:before {
  left: -10%;
}

.skewed:checked + .skewed {
  background: #64ce74;
}

.skewed:checked + .skewed:before {
  left: -100%;
}

.skewed:checked + .skewed:after {
  left: 0;
}

.skewed:checked + .skewed:active:after {
  left: 10%;
}
